.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  height: auto;
}

h2 {
  color: var(--clr-dark);
}

.form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  font-size: 1rem;
  margin-top: 1.25rem;
}

input {
  width: 100%;
  height: 2.188rem;
  padding: 0.438rem;
  outline: none;
  border: 1px solid white;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 6.25rem;
  min-height: 6.25rem;
  padding: 0.438rem;
  outline: none;
  border-radius: 0;
  border: 1px solid white;
}

label {
  margin-top: 1rem;
}

input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  font-family: Montserrat; 
  font-size: var(--fs-h4);
  background: var(--clr-medgrey);
  color: var(--clr-light);
  border: none;
  border-radius: 0.313rem;
}

input:hover {
  background: var(--clr-light);
  color: var(--clr-medgrey);
}

/* Mobile Landscape  */
@media (min-width: 600px) {
  .form {
    width: 50%;
  }
}

/* Tablet Portrait*/
@media (min-width: 810px) {
  .form {
    width: 50%;
  }
}

/* Tablet landscape */
@media (min-width: 1080px)  {
  .form {
    width: 50%;
  }
}

/* Desktop */
@media (min-width: 1280px) and (max-width: 2560px) {
  .form {
    width: 40%;

  }
}
