/* CSS for mobile view (414px width) */
.page-container {
  background-color: pink;
  width: 100vw;
  position: relative; /* Add position: relative to create a positioning context */
  padding: 0 1rem;
}

/* img container and img */
.img-container {
  width: 100%; /* Adjust the width to fill the container */
  height: auto;
  position: absolute;
}

.main-image {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Text on top of hero image */
#image-text-two-rows {
  width: 100%;
  position: absolute; /* Change to absolute positioning */
  top: 45%; /* Adjust positioning vertical*/
  left: 50%; /* Adjust positioning horizontal*/
  transform: translate(
    -50%,
    -50%
  ) /* Center the text vertically and horizontally */
}
/* End text on top of hero image */

/* Start - text under hero image, centered */
.content-container {
  width: 100%;
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 1rem auto; /* Center the container horizontally */
}
/* End - text under hero image, centered */

/* decorative border svg */
.border {
  width: 100%;
  height: auto;
  margin: 1rem auto;
}

/* Paragraph section settings */
.paragraph-section {
  margin: 1rem auto; /* Center the paragraph section horizontally */
  max-width: 800px; /* Adjust the max-width as needed */
}

/* Mobile Landscape */
@media (min-width: 600px) {
  .page-container {
    background-color: red;
  }

  .main-image {
    max-width: 50%;
  }

}

/* Tablet Portrait*/
@media (min-width: 810px) {
  .page-container {
    background-color: blueviolet;
  }

  .main-image {
    max-width: 75%;
  }
}

/* Tablet Landscape */
@media (min-width: 1080px) {
  .page-container {
    background-color: blue;
  }

  .main-image {
    max-width: 50%;
  }
}

/* Desktop */
@media (min-width: 1280px) and (max-width: 2560px) {
  .page-container {
    background-color: green;
  }
}
