.top-nav-bar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 25%;
  height: auto;
  margin: .5rem;
}

/* Mobile Landscape */
@media (min-width: 600px) {
  #logo {
    width: 15%;
  }
}

/* Tablet Landscape */
@media (min-width: 1080px) {
  #logo {
    width: 10%;
  }
}

/* Desktop */
@media (min-width: 1280px) and (max-width: 2560px) {
  #logo {
    width: 10%;
  }
}





